/* reservr dashboard
 */

.header {
  border-bottom: 4px solid #ffdd08;
}

.header h2 {
  color: #fff;
}

.logo img {
  width: auto;
  max-height: 14px;
}

.btn-event-new {
  float: right;
  
  color: #fff;
  font-size: 30px;
}

.btn-event-new:hover {
  color:  #ffdd08;
}
